@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
  background: #f9f9f9;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  margin: 2px 0px;
  color: #424242;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  color: #424242;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #424242;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #424242;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 5% 0%;
}

.about-section-visual {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  margin-left: 5%;
}

#about-image {
  width: 80%;
}

.about-title {
  margin-bottom: 2%;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 45%;
  height: 100%;
  margin-right: 5%;
}

.about-section-content--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
}

.about-content-description {
  margin: 0.5% 0%;
}

.about-content-description-embedded-link,
.about-content-description-embedded-link:visited {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #57B8E8;
  text-decoration-color: #57B8E8;
  text-decoration-line: underline;
}

.about-section--experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin: 5%;
}

.about-section--experience-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 1.5% 0%;
}

.about-section--experience-section-title {
  margin: 2% 0%;
}

.about-section--experience-section-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 1% 0%;
}

.about-section--experience-section-item-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.featured-project-button-wrap {
  display: flex;
  /* align-items: left; */
  /* justify-content: left; */
  width: 100%;
  height: 100%;
}

.featured-project-button {
  width: 190px;
  height: 40px;
  font-family: "Poppins";
  font-size: 12px;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #424242;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10% 0%;
}

.featured-project-button-disabled {
  width: 190px;
  height: 40px;
  font-family: "Poppins";
  font-size: 12px;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #909090;
  background-color: #E0E0E0;
  border: none;
  border-radius: 35px;
  transition: all 0.3s ease 0s;
  outline: none;
  margin: 10% 0%;
}

.featured-project-button:hover {
  background-color: #57B8E8;
  box-shadow: 0px 8px 16px rgba(87, 184, 232, 0.215);
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transform: translateY(-7px);
}

.about-section--fun-facts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 5%;
}

.about-section--fun-facts-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 2.5% 0%;
}

.about-section--fun-facts-section-grid {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5%;
  width: 100%;
  margin: 2.5% 0%;
}

.about-section--fun-facts-section-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#fun-facts-image-with-captions {
  max-width: 100%;
  margin-bottom: 5%;
}

.about-section--fun-facts-section-grid-images {
  display: grid;
  grid-template-columns: minmax(20%, 35%) 1fr minmax(20%, 35%);
  grid-gap: 2.5%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; */
  width: 100%;
  height: 30%;
  margin: 2.5% 0%;
}

.about-section--fun-facts-section-grid-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

#fun-facts-image {
  height: 100%;
  width: 100%;
  /* max-height: 29em; */
  /* justify-self: center; */
}


.about-section--lets-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 30%;
  /* margin: 5%; */
}

.about-content-icon-with-description-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.about-section--lets-chat-icons {
  height: 30px;
  width: 30px;
  font: 20px;
  margin: 0.5% 0.5% 0.5% 0%;
}
