@import url("https://fonts.googleapis.com/css?family=Poppins");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  background: #f9f9f9;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  margin: 2px 0px;
  color: #424242;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  color: #424242;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 1% 0%;
  color: #424242;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #424242;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #424242;
}

ol {
  margin-top: 0;
}

ul {
  margin-top: 0;
}

.designbuddies-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin: 5%;
}

.designbuddies-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}

.designbuddies-banner-image {
  height: auto;
  width: 100%;
}

.designbuddies-content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 3%;
}

.designbuddies-content-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  width: 20%;
}

.designbuddies-content-navigation {
  margin-top: 10%;
}

#designbuddies-content-navigation-title-container {
  margin: 5% 0%;
}

#designbuddies-content-navigation-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #4F4F4F;
  text-decoration: none;
}

.designbuddies-content-navigation-list {
  float: left;
  padding: 0;
}

.designbuddies-content-navigation-list-item {
  display: block;
  margin-bottom: 10px;
}

.designbuddies-content-navigation-list-item a,
.designbuddies-content-navigation-list-item a:visited,
.designbuddies-content-navigation-list-item a:active {
  color: #57B8E8;
  text-decoration: none;
}

.designbuddies-content-navigation-list-item a:hover,
.designbuddies-content-navigation-list-item a:focus {
  color: #424242;
  text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 5%;
  right: 1.75%;
  background-color: #F9F9F9;
  border-radius: 50%;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  text-decoration: none;
}

.expand_less {
  color: #57B8E8;
}

.scroll-to-top:hover {
  background-color: #F9F9F9;
  width: 3rem;
  height: 3rem;
  bottom: 4.75%;
  right: 1.5%;
  transition: 0.3s;
}

.designbuddies-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  padding-left: 2%;
}

.designbuddies-content-title {
  margin-bottom: 2.5%;
}

.designbuddies-content-description-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 2.5% 0%;
}

.designbuddies-content-description-subtitle {
  margin: 2.5% 0%;
}

.designbuddies-content-description-content {
  margin-bottom: 2%;
}

.designbuddies-content-description-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2% 0% 4% 0%;
  width: 100%;
}

.designbuddies-content-description-table-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.designbuddies-content-description-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: 1% 0%;
}

.designbuddies-content-description-images-element {
  width: auto;
}

.designbuddies-content-description-visual {
  width: 100%;
  height: auto;
  margin: 2% 0%;
}

.designbuddies-content-description-link,
.designbuddies-content-description-link:visited {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #57B8E8;
  text-align: left;
  text-decoration-line: underline;
  width: 100%;
}

.designbuddies-content-description-caption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #BDBDBD;
  text-align: center;
  width: 100%;
}