@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
  background: #f9f9f9;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  margin: 0;
  color: #424242;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  color: #424242;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #424242;
}

.landing-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5% 0%;
}

.landing-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 45%;
  height: 80%;
  margin-left: 5%;
}

.landing-section-content--main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
}

#landing-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.landing-section-content--sub-title {
  height: 30%;
  margin-top: 2%;
}

#landing-previous-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
}

.landing-section-visual {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 80%;
  margin-right: 5%;
}

#landing-image {
  width: 80%;
  height: 100%;
}

.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-project {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5% 0%;
}

.featured-project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  height: 80%;
  margin-left: 5%;
}

.featured-project-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  text-decoration: underline;
  color: #828282;
}

.featured-project-visual {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  height: 80%;
  margin-right: 5%;
}

.featured-project-image {
  width: 80%;
  height: 100%;
}
