@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
  background: #f9f9f9;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  margin: 2px 0px;
  color: #424242;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  color: #424242;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #424242;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  color: #BDBDBD;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: #424242;
}

.landing-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 5%;
}

.landing-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 45%;
  height: 80%;
  margin-left: 5%;
}

.landing-section-content--main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
}

.landing-section-content--sub-title {
  height: 30%;
  margin-top: 2%;
}

#landing-previous-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
}

.landing-section-visual {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 80%;
  margin-right: 5%;
}

#landing-image {
  width: 80%;
  height: 100%;
}

.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-project-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin: 5%;
}

.featured-project-section-list-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.featured-project-section-list-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 70%;
  margin: 1% 0%;
}

.featured-project-section-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.featured-project-image {
  width: 95%;
  margin: 5% 0%;
}

.featured-project-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.featured-project-button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-project-button {
  width: 190px;
  height: 40px;
  font-family: "Poppins";
  font-size: 12px;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #424242;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10% 0%;
}

.featured-project-button:hover {
  background-color: #57B8E8;
  box-shadow: 0px 15px 20px rgba(87, 184, 232, 0.9);
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transform: translateY(-7px);
}

.featured-project {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5% 0%;
}

.featured-project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  height: 80%;
  margin-left: 5%;
}

.featured-project-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 3px 0px;
  text-decoration: underline;
  color: #828282;
}

.featured-project-visual {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  height: 80%;
  margin-right: 5%;
}

.featured-project-image {
  width: 80%;
  height: 100%;
}
